//main: app.less
html,
body,
#app {
	height: 100%;
}

#app {

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}
#header {
	height: 50px;
	flex-shrink: 0;
}
#main {
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	> ul {
		flex-shrink: 0;
	}
}
#playlist {
	flex-grow: 1;
	overflow-y: auto;
}
#index {
	margin: 0;
	padding: 0;
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
	> ul {
		overflow-y: auto;
		flex-grow: 1;
	}
	> .controls {
		flex-shrink: 0;
	}
}

#playback {
	display: flex;
	flex-flow: row nowrap;
    align-items: stretch;
	> .controls {
		flex-shrink: 0;
	}
	> .log {
	    overflow-y: auto;
	    font-size: 11px;
	    font-family: monospace;
	    max-height: 50px;
	}
	> div {
		margin-left: 12px;
    	margin-top: 12px;
	}
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

.hoverable:hover > .hidden.reveal {
	display: inline-block;
}
.hoverable:hover > .invisible.reveal {
	visibility: visible;
}
.vertical {
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}