//main: app.less
button > .glyphicon {
	color: #111;
}

.btn {
	display: inline-block;
	&:hover {
		color: red;
		background: #111;
    	border-radius: 11px;
	}
}

#context-menu {
	li {
		cursor: pointer;
		padding: 3px;
		&:hover {
			color: #fff;
			background: #666;
		}
	}
	ul {
		padding: 6px;
	}
}